body {
  padding: 75px;
  background-image: url("nosise.jpg");
}

@font-face{
  font-family: "titleFont";
  src: url("./fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

h1{
  font-size: 120px;
  font-family: "titleFont";
  margin: 10px;
}

a{
  font-family: "titleFont";
}

